<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissão para acessar a Internet (deve estar aqui, fora da tag <application>) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="motoshop"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Configuração para o Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.default_web_client_id"
            android:value="@string/default_web_client_id" />
        
        <!-- A atividade principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Não exclua o meta-data abaixo. Isso é usado pela ferramenta Flutter para gerar GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- Atividade para o Google Sign-In -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

    <!-- Necessário para consultar atividades que podem processar texto, veja:
         https://developer.android.com/training/package-visibility?hl=en e
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         Em particular, isso é usado pelo motor Flutter em io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
